/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;  
}
.jumbotron {
  background-image: url('http://media2.s-nbcnews.com/i/newscms/2014_11/250761/140313-kickstarter-screen-jb-1534p_405a41ea74f3acd3868abacbc5c32033.jpg'); 
  no-repeat; 
  background-size: 100%;
  height: 600px;
  /*-webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);*/
  /*opacity: 0.1*/
  /*width: 200px;*/
}